body {
  background: #000;
  font-family: sans-serif;
}

header {
  min-height: 100vh;
  /* background: url('./assets/img/cover14.jpeg'); */
  background-size: cover;
}

section {
  color: #fff;
  padding: 1.5em;
}

p {
  max-width: 35em;
  padding: 1em 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}





